---
import thirteen from "/public/images/thirteen.webp";
import fourteen from "/public/images/fourteen.webp";
import fiveteen from "/public/images/fiveteen.webp";
import sixteen from "/public/images/sixteen.webp";
import seventeen from "/public/images/seventeen.webp";
import eighteen from "/public/images/eighteen.webp";
import nineteen from "/public/images/nineteen.webp";
import twenty from "/public/images/twenty.webp";
import { Image } from "@astrojs/image/components";
---

<main role="main" class="w-full lg:col-span-3">
  <section>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-x-3 gap-y-12 p-4">
      <div>
        <div class="aspect-[280/200] bg-zinc-100 rounded-xl overflow-hidden">
          <Image class="object-cover h-full" src={thirteen} alt="#" />
        </div>
        <div>
          <div class="inline-flex items-center justify-between w-full px-4">
            <div>
              <h2
                class="text-base font-semibold text-black dark:text-white mt-8 relative"
              >
                Cards
              </h2>
              <p
                class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
              >
                Figma.
              </p>
            </div>
            <div class="mt-4">
              <a
                class="group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black"
                href="#">Buy on gumroad</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="aspect-[280/200] bg-zinc-100 rounded-xl overflow-hidden">
          <Image class="object-cover h-full" src={fourteen} alt="#" />
        </div>
        <div>
          <div class="inline-flex items-center justify-between w-full px-4">
            <div>
              <h2
                class="text-base font-semibold text-black dark:text-white mt-8 relative"
              >
                Invoices
              </h2>
              <p
                class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
              >
                Figma, PSD, Sketch.
              </p>
            </div>
            <div class="mt-4">
              <a
                class="group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black"
                href="#">Buy on gumroad</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="aspect-[280/200] bg-zinc-100 rounded-xl overflow-hidden">
          <Image class="object-cover h-full" src={fiveteen} alt="#" />
        </div>
        <div>
          <div class="inline-flex items-center justify-between w-full px-4">
            <div>
              <h2
                class="text-base font-semibold text-black dark:text-white mt-8 relative"
              >
                Aesthetic invoices
              </h2>
              <p
                class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
              >
                PSD, Penpot, Sketch.
              </p>
            </div>
            <div class="mt-4">
              <a
                class="group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black"
                href="#">Buy on gumroad</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="aspect-[280/200] bg-zinc-100 rounded-xl overflow-hidden">
          <Image class="object-cover h-full" src={sixteen} alt="#" />
        </div>
        <div>
          <div class="inline-flex items-center justify-between w-full px-4">
            <div>
              <h2
                class="text-base font-semibold text-black dark:text-white mt-8 relative"
              >
                Line icons
              </h2>
              <p
                class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
              >
                Figma.
              </p>
            </div>
            <div class="mt-4">
              <a
                class="group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black"
                href="#">Buy on gumroad</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="aspect-[280/200] bg-zinc-100 rounded-xl overflow-hidden">
          <Image class="object-cover h-full" src={seventeen} alt="#" />
        </div>
        <div>
          <div class="inline-flex items-center justify-between w-full px-4">
            <div>
              <h2
                class="text-base font-semibold text-black dark:text-white mt-8 relative"
              >
                5k HD Wallpapers
              </h2>
              <p
                class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
              >
                PNG, Heic, jpg
              </p>
            </div>
            <div class="mt-4">
              <a
                class="group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black"
                href="#">Buy on gumroad</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="aspect-[280/200] bg-zinc-100 rounded-xl overflow-hidden">
          <Image class="object-cover h-full" src={eighteen} alt="#" />
        </div>
        <div>
          <div class="inline-flex items-center justify-between w-full px-4">
            <div>
              <h2
                class="text-base font-semibold text-black dark:text-white mt-8 relative"
              >
                Folder and cards mockup
              </h2>
              <p
                class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
              >
                PSD
              </p>
            </div>
            <div class="mt-4">
              <a
                class="group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black"
                href="#">Buy on gumroad</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="aspect-[280/200] bg-zinc-100 rounded-xl overflow-hidden">
          <Image class="object-cover h-full" src={nineteen} alt="#" />
        </div>
        <div>
          <div class="inline-flex items-center justify-between w-full px-4">
            <div>
              <h2
                class="text-base font-semibold text-black dark:text-white mt-8 relative"
              >
                Iphone 14 Pro muckup
              </h2>
              <p
                class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
              >
                PSD
              </p>
            </div>
            <div class="mt-4">
              <a
                class="group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black"
                href="#">Buy on gumroad</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="aspect-[280/200] bg-zinc-100 rounded-xl overflow-hidden">
          <Image class="object-cover h-full" src={twenty} alt="#" />
        </div>
        <div>
          <div class="inline-flex items-center justify-between w-full px-4">
            <div>
              <h2
                class="text-base font-semibold text-black dark:text-white mt-8 relative"
              >
                Tote bags muckup
              </h2>
              <p
                class="relative z-10 mt-2 text-sm text-zinc-500 dark:text-zinc-400"
              >
                PSD
              </p>
            </div>
            <div class="mt-4">
              <a
                class="group inline-flex items-center justify-center rounded-lg py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-zinc-900 text-white hover:bg-zinc-700 hover:text-zinc-100 active:bg-zinc-800 active:text-zinc-300 focus-visible:outline-zinc-900 dark:bg-white dark:text-black"
                href="#">Buy on gumroad</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
